
.card1 {
    width: 18rem;
    padding-bottom: 50px;
    background-color: blue;
    border-radius: 10px;
    margin-top: 2rem;
}

.card-img-top {
    max-width: 300px;
    max-height: 200px;
    border-radius: 10px;
    justify-items: center;
}

.btn-primary{
    display: flex;
    border-radius: 5px;
    justify-self: center;
    background-color: blueviolet;
    width: 10rem;
    height: 2rem;
}
